h1 {
    text-align: center;
}

.EditorWindow {
	overflow-y : scroll;
}

.SummonerRiftSelector{
	position : absolute;
	left : 0;
	width : 100;
	background-color : #F0F000;
	border : 5px groove #FFFFFF;
}

.HowlingAbyssSelector{
	position : absolute;
	left : 105;
	width : 100;
	background-color : #1200A4;
	border : 5px groove #FFFFFF;
}

.TwistedTreelineSelector{
	position : absolute;
	left : 210;
	width : 100;
	background-color : #55555;
	border : 5px groove #FFFFFF;
}

.item_description {
	position : fixed;
	height : 400;
	width : 500;
	top : 150;
	left : 400;
	display : none;
}

.selected_item_description{
	position : fixed;
	height : 500;
	width : 500;
	top : 500;
	left : 400;
	display : none;
}

.image_description{
	margin : 2px 1px;
}

.image_item{
	margin : 2px 1px;
}

.selected{
	margin : 0px 1px;
	border : 2px groove #FF00FF;
	}

.hidden{
	display : none;
}

.visible{
	visibility : visible;
}

.filters_zone{
	position : absolute;
	height : 30;
	width : 100;
	top : 100;
	left : 100;
}

.items_zone{
	position : absolute;
	height : 650;
	width : 230;
	top : 150;
	left : 100;
	background-color : grey;
	overflow-y : scroll;
}

.AllSets{
	position : absolute;
	top : 150;
	left : 950;
	height : 400;
	width : 460;
	background-color : black;
	color : white;
}