h1 {
    text-align: center;
}

.SummonerRiftSelector{
	background-color : #F0F000;
	border : 5px groove #5500FF;
}

.HowlingAbyssSelector{
	background-color : #000034;
	border : 5px groove #5500FF;
}

.TwistedTreelineSelector{
	background-color : #55555;
	border : 5px groove #5500FF;
}

.item_description {
	position : fixed;
	height : 500;
	width : 500;
	top : 250;
	left : 400;
	display : none;
}

.image_description{
	margin : 2px 1px;
}

.image_item{
	margin : 2px 1px;
}

.selected{
	border : 2px groove #FF00FF;
	}

.hidden{
	display : none;
}

.visible{
	visibility : visible;
}

.filters_zone{
	position : fixed;
	height : 30;
	width : 100;
	top : 200;
	left : 100;
}

.items_zone{
	position : fixed;
	height : 600;
	width : 225;
	top : 250;
	left : 100;
	background-color : grey;
	overflow-y : scroll;
}